<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <div class="container">
        <h2>投票列表</h2>
        <ul>
            {% if questions %}
                {% for q in questions %}
                <ol><a href="{% url 'polls:detail' q.id %}">{{ q.desc }}</a></ol>
                {% empty %}
                    <li>问题列表为空</li>
                {% endfor %}
            {% else%}
                <li>没有问题可以投票</li>

            {% endif %}
        </ul>

    </div>
</body>
</html>