{% extends 'polls/base.html' %}

{% block title %}
    <title>首页</title>
{% endblock %}


{% block container %}
    <h2>投票列表</h2>
        <ul>
            {% if questions %}
                {% for q in questions %}
                <ol><a href="{% url 'polls:detail' q.id %}">{{ q.desc }}</a></ol>
                {% empty %}
                    <li>问题列表为空</li>
                {% endfor %}
            {% else%}
                <li>没有问题可以投票</li>

            {% endif %}
        </ul>

{% endblock %}



{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <div class="container">
        {% if request.user and request.user.is_authenticated %}
           <h6>当前用户为：{{ request.user }}</h6>
            <a href="{% url 'polls:logout' %}">退出登录</a>
        {% else %}
            <h3>用户未登录</h3>

        {% endif %}


        <!--{% if username  %}-->
            <!--<h6>当前用户为：{{ username }}</h6>-->
            <!--<a href="{% url 'polls:logout' %}">退出登录</a>-->
        <!--{% else %}-->
            <!--<h6>未登录</h6>-->
        <!--{% endif %}-->
        <h2>投票列表</h2>
        <ul>
            {% if questions %}
                {% for q in questions %}
                <ol><a href="{% url 'polls:detail' q.id %}">{{ q.desc }}</a></ol>
                {% empty %}
                    <li>问题列表为空</li>
                {% endfor %}
            {% else%}
                <li>没有问题可以投票</li>

            {% endif %}
        </ul>
    </div>
</body>
</html>

{% endcomment %}